html {
    background-color: lightgrey;
    font-family: Arial;
}
body {
    width: 1300px;
    margin: 0 auto;
    background-color: white;
    background-image: url(field.jpg);
    padding-top: 200px;
}
div {
    background-color: rgba(255, 255, 255, .35);
    height: 80px;
    box-shadow: rgba(0, 0, 0, .3) 0 1px 0;
    margin-bottom: 40px;
}
h1 {
    color: white;
    font-size: 50px;
    padding: 5px 0 0 50px;
    text-shadow: rgba(0, 0, 0, .6) 2px 2px 2px;
}
h2, p {
    font-style: italic;
}
h2 {
    margin: 20px 30px 0 30px;
    padding-top: 20px;
    text-align: center;
}
p {
    font-size: 20px;
    padding: 10px 80px 20px 80px;
    text-align: justify;
}
p::first-letter {
    font-family: "Comic Sans MS";
    font-size: 40px;
}
h3 {
    font-style: italic;
    margin: 20px 30px 0 30px;
    padding-top: 20px;
}
.border {
    list-style: none;
    padding: 20px;
    }
.border li {
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 20px 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    border-left: 10px solid #f05d22;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
         -2px -2px 5px 0 rgba(0,0,0,.1),
        2px 2px 5px 0 rgba(0,0,0,.1),
        -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 1px;
    transition: 0.3s 0.3s;
}
    .border li:nth-child(2){border-color: #8bc63e;}
    .border li:nth-child(3){border-color: #fcba30;}
    .border li:nth-child(4){border-color: #1ccfc9;}
    .border li:nth-child(5){border-color: #493224;}
    .border li:hover {border-left: 10px solid transparent;}
    .border li:nth-child(1):hover {border-right: 10px solid #f05d22;}
    .border li:nth-child(2):hover {border-right: 10px solid #8bc63e;}
    .border li:nth-child(3):hover {border-right: 10px solid #fcba30;}
    .border li:nth-child(4):hover {border-right: 10px solid #1ccfc9;}
    .border li:nth-child(5):hover {border-right: 10px solid #493224;}
.box_block
{
        margin: 5px;
        padding: 5px;
        overflow: hidden;
      }
